# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# Testing
.pytest_cache/

# Logs
logs/
*.log

# Generated Data
data/processed/

# OS
.DS_Store
Thumbs.db